<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8" />
    <title th:text="#{cadastroEmpresaTitulo.label}">Cadastro de Empresa</title>
</head>
<body>
  <section class="layout-content" layout:fragment="corpo">
      <div class="container center">
          <h1 class="title-text" style="font-size: 2em;" th:text="#{cadastroEmpresaTitulo.label}">Cadastro de Empresa</h1>
          <div th:replace="fragments/alert"></div>

          <form th:action="${empresa.id == null} ? @{/empresas/salvar} : @{/empresas/editar}"
                th:object="${empresa}" method="POST" style="width: 40%;">

              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
              <input type="hidden" id="id" th:field="*{id}" />
              <input type="hidden" th:field="*{papel}" /> 

              <div class="item-form">
                  <label for="email" th:text="#{email.label}">E-mail</label>
                  <input type="email" class="form-control" id="email" th:placeholder="#{email.label}"
                      autofocus="autofocus" th:field="*{email}"
                      th:classappend="${#fields.hasErrors('email')} ? is-invalid" />
                  <div class="invalid-feedback">
                      <span th:errors="*{email}"></span>
                  </div>
              </div>

              <div class="item-form">
                  <label for="senha" th:text="#{senha.label}">Senha</label>
                  <input type="password" class="form-control" id="senha" th:placeholder="#{senha.label}"
                      th:field="*{senha}"
                      th:classappend="${#fields.hasErrors('senha')} ? is-invalid" />
                  <div class="invalid-feedback">
                      <span th:errors="*{senha}"></span>
                  </div>
              </div>
              
              <div class="item-form">
                  <label for="cnpj" th:text="#{cnpj.label}">CNPJ</label>
                  <input type="text" class="form-control" id="cnpj" th:placeholder="#{cnpj.label}"
                      data-mask="00.000.000/0000-00" data-mask-reverse="true" th:field="*{cnpj}"
                      th:classappend="${#fields.hasErrors('cnpj')} ? is-invalid" />
                  <div class="invalid-feedback">
                      <span th:errors="*{cnpj}"></span>
                  </div>
              </div>

              <div class="item-form">
                  <label for="nome" th:text="#{nomeEmpresa.label}">Nome da Empresa</label>
                  <input type="text" class="form-control" id="nome" th:placeholder="#{nomeEmpresa.label}"
                      th:field="*{nome}"
                      th:classappend="${#fields.hasErrors('nome')} ? is-invalid" />
                  <div class="invalid-feedback">
                      <span th:errors="*{nome}"></span>
                  </div>
              </div>

              <div class="item-form">
                  <label for="descricao" th:text="#{descricaoEmpresa.label}">Descrição</label>
                  <textarea class="form-control" id="descricao" rows="3" th:placeholder="#{descricaoEmpresa.label}"
                      th:field="*{descricao}"
                      th:classappend="${#fields.hasErrors('descricao')} ? is-invalid"></textarea>
                  <div class="invalid-feedback">
                      <span th:errors="*{descricao}"></span>
                  </div>
              </div>

              <div class="item-form">
                  <label for="cidade" th:text="#{cidade.label}">Cidade</label>
                  <input type="text" class="form-control" id="cidade" th:placeholder="#{cidade.label}"
                      th:field="*{cidade}"
                      th:classappend="${#fields.hasErrors('cidade')} ? is-invalid" />
                  <div class="invalid-feedback">
                      <span th:errors="*{cidade}"></span>
                  </div>
              </div>

              <div class="item-form">
                  <label for="estado" th:text="#{estado.label}">Estado</label>
                  <input type="text" class="form-control" id="estado" th:placeholder="#{estado.label}"
                      th:field="*{estado}"
                      th:classappend="${#fields.hasErrors('estado')} ? is-invalid" />
                  <div class="invalid-feedback">
                      <span th:errors="*{estado}"></span>
                  </div>
              </div>

              <div class="item-form">
                  <label for="pais" th:text="#{pais.label}">País</label>
                  <input type="text" class="form-control" id="pais" th:placeholder="#{pais.label}"
                      th:field="*{pais}"
                      th:classappend="${#fields.hasErrors('pais')} ? is-invalid" />
                  <div class="invalid-feedback">
                      <span th:errors="*{pais}"></span>
                  </div>
              </div>

              <div class="center" style="flex-direction: row;">
                  <button style="margin-inline: 10px; width: 40%;" type="submit" class="button-style" th:text="#{salvar.label}">Salvar</button>
                  <a style="margin-inline: 10px; width: 40%;" th:href="@{/empresas/listar}" class="button-style inactive" th:text="#{cancelar.label}">Cancelar</a>
              </div>
          </form>
      </div>
  </section>
</body>
</html>