<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8" />
    <title th:text="#{listaEmpresasTitulo.label}">Lista de Empresas</title>
</head>
<body>
    <section class="layout-content" layout:fragment="corpo">
        <div class="container center">
            <div class="alert-container" th:replace="fragments/alert"></div>
            <h1 class="title-text" style="font-size: 2em;" th:text="#{listaEmpresasTitulo.label}">Lista de Empresas</h1>
            <img src="/image/empresa.png" width="150px" alt="Empresa Icon" />
            <table class="table-lista">
                <thead>
                    <tr>
                        <th>#</th>
                        <th th:text="#{email.label}">Email</th>
                        <th th:text="#{nome.label}">Nome</th>
                        <th th:text="#{cnpj.label}">CNPJ</th>
                        <th th:text="#{tabelaAcoes.label}">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="empresa : ${empresas}">
                        <td th:text="${empresa.id}"></td>
                        <td th:text="${empresa.email}"></td>
                        <td th:text="${empresa.nome}"></td>
                        <td th:text="${empresa.cnpj}"></td>
                        <td>
                            <div class="table-action-buttons">
                                <a class="button-style edit" th:href="@{/empresas/editar/{id} (id=${empresa.id}) }"
                                    role="button" th:title="#{editar.label}"> 
                                    <span class="oi oi-brush" aria-hidden="true"> </span>
                                </a>
                                <button
                                    th:id="${'btn_empresas/excluir/' + empresa.id}"
                                    type="button" class="button-style delete"
                                    data-toggle="modal" data-target="#myModal" th:title="#{excluir.label}">
                                    <span class="oi oi-circle-x" aria-hidden="true"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="center" style="margin-block: 20px;">
            <a class="button-style" th:href="@{/empresas/cadastrar}" role="button"> 
                <span th:text="#{novaEmpresa.label}">Nova empresa</span>
            </a>
        </div>
        <div th:replace="fragments/modal :: modal"></div>
    </section>
</body>
</html>