<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::content})}">
<head>
    <title th:text="#{register.title.company}">Company Registration</title>
</head>
<body>
    <section th:fragment="content">
        <h1 th:text="#{register.title.company}">Company Registration</h1>
        <form th:action="@{/register/company}" th:object="${companyDto}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <div>
                <label for="name" th:text="#{register.companyName}">Company Name:</label>
                <input type="text" id="name" th:field="*{name}" required />
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error">Name Error</span>
            </div>

            <div>
                <label for="email" th:text="#{register.email}">Email:</label>
                <input type="email" id="email" th:field="*{email}" required />
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error">Email Error</span>
            </div>

            <div class="password-wrapper">
                <label for="password" th:text="#{register.password}">Password:</label>
                <input type="password" id="password" th:field="*{password}" required minlength="8" />
                <span class="password-toggle" data-input="password" th:attr="data-text-show=#{button.show}, data-text-hide=#{button.hide}" th:text="#{button.show}">Show</span>
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error">Password Error</span>
            </div>

            <div>
                <label for="cnpj" th:text="#{register.cnpj}">CNPJ:</label>
                <input type="text" id="cnpj" th:field="*{cnpj}" required pattern="^(\d{2}\.\d{3}\.\d{3}/\d{4}-\d{2}|\d{14})$" title="Format: XX.XXX.XXX/XXXX-XX or XXXXXXXXXXXXXX" />
                <span th:if="${#fields.hasErrors('cnpj')}" th:errors="*{cnpj}" class="error">CNPJ Error</span>
            </div>

            <div>
                <label for="description" th:text="#{register.description}">Description:</label>
                <textarea id="description" th:field="*{description}" required></textarea> <!-- Already had required, which is good -->
                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error">Description Error</span>
            </div>

            <div>
                <label for="city" th:text="#{register.city}">City:</label>
                <input type="text" id="city" th:field="*{city}" required />
                <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="error">City Error</span>
            </div>

            <button type="submit" th:text="#{button.register}">Register</button>
        </form>
    </section>
</body>
</html>
