<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
    <section class="layout-content" layout:fragment="corpo">
        <div th:replace="fragments/alert"></div>

        <div class="container" style="text-align: center; width: 60%;">
            <h1 class="title-text" style="margin-bottom: 2px;">Work</h1>
            <h1 class="title-text" style="font-size: 1.5em; color:black;" th:text="#{acessoNegadoMensagem.label}">Acesso negado, desculpe pelo transtorno.</h1>
            <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                <img alt="vagas" th:src="@{/image/negado.png}" style="width:300px; margin-top: -20px;">
                <a class="button-style" th:href="@{/login}" role="button" style="margin-top: 20px;" th:text="#{voltarLogin.label}"> Voltar para login</a>
            </div>
        </div>
    </section>
</body>
</html>