<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout :: layout(~{::title}, ~{::section})}"
>
  <head>
    <title th:text="#{error.generic.title}">Error</title>
  </head>
  <body>
    <section>
      <h1 th:text="#{error.generic.title}">Oops! Something went wrong.</h1>
      <p th:text="#{error.generic.message}">
        We are sorry, but an unexpected error occurred. Please try again later.
      </p>
      <p th:if="${status}" th:text="'Status Code: ' + ${status}"></p>
      <p th:if="${error}" th:text="'Error: ' + ${error}"></p>
      <p th:if="${message}" th:text="'Message: ' + ${message}"></p>
      <p><a th:href="@{/}" th:text="#{link.go.home}">Go to Homepage</a></p>
    </section>
  </body>
</html>
