<!DOCTYPE html><html layout:decorate="~{layout}">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <section class="layout-content" layout:fragment="corpo">
      <div class="container" style="text-align: center; width: 60%">
        <h1 class="title-text" style="margin-bottom: 2px">Work</h1>
        <img
          alt="vagas"
          th:src="@{/image/image.png}"
          style="width: 350px; margin-top: -40px"
        />
        <form th:action="@{/vagas/listar}" method="GET" class="busca">
          <input
            type="text"
            id="filterLocation"
            name="cidade"
            th:placeholder="#{filtrarCidadePlaceholder.label}"
            th:value="${param.cidade}"
          />
          <button
            type="submit"
            class="button-style"
            th:text="#{buscarVaga.label}"
          >
            Buscar Vaga
          </button>
        </form>
      </div>
    </section>
  </body>
</html>
