<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8" />
    <title th:text="#{perfilProfissionalTitulo.label}">Perfil do Profissional</title>
</head>
<body>
        <div class="profile-container" layout:fragment="corpo">

            <div class="title-text" th:utext="#{perfilAdminBoasVindas.label}">
                <br>Bem vindo de volta!
                <br>o que deseja?
            </div>

            <div class="button-group">
                <a class="button-style" th:href="@{/candidaturas/minhasCandidaturas}" th:text="#{verMinhasCandidaturas.label}">Ver minhas candidaturas</a>
                
                <a class="button-style" th:href="@{/vagas/listar}" th:text="#{candidatarNovaVaga.label}">Candidatar à nova vaga</a>
            </div>
        </div>

    </section>
</body>
</html>